@model List<ThucHanh2MVC.Models.CartItem>

<div class="btn-group">
    
    <a href="/Cart/" class="btn btn-default dropdown-toggle usa">
        <i class="fa fa-shopping-cart" style="color: orange"></i>
        @Model.Count
    </a>
</div>