
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-9 padding-right">
    <div class="alert alert-success">
        Mua hàng thành công
    </div>
</div>
