@model Model.EF.Contact
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mapCanvas {
        height: 300px;
    }
</style>
@section jsFooter{
    @*AIzaSyBc5q9B_7D9RhVEVtNDyF0Bs2B8J5xt2BA
    AIzaSyDDD4WvchiwPdow59vZdimbyIJ1iUGK8Cg&callback*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc5q9B_7D9RhVEVtNDyF0Bs2B8J5xt2BA&callback=initMap"
            type="text/javascript"></script>
    <script src="/Assets/client/js/controller/contactController.js"></script>
    <script>



        function initMap() {
            var uluru = { lat: 16.059244, lng: 108.209235 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });

            //var contentString = '';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">E-Shop <strong>INTERNATIONAL</strong></h2>
                <div class="map" id="mapCanvas">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">Liên hệ với chúng tôi</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" id="txtName" class="form-control" required="required" placeholder="Tên">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" id="txtEmail" class="form-control" required="required" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" id="txtMobile" class="form-control" required="required" placeholder="Điện thoại">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" id="txtAddress" class="form-control" required="required" placeholder="Địa chỉ">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="txtContent" required="required" class="form-control" rows="8" placeholder="..."></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" id="btnSend" class="btn btn-primary pull-right" value="Gửi">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Liên hệ</h2>
                    <address>
                        @Html.Raw(Model.Content)
                    </address>
                    
                    <div class="social-networks">
                        <h2 class="title text-center">Kết nối</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>